.mat-form-field + .mat-form-field {
  margin-left: 8px;
}
mat-panel-description{
text-align: left;
width:400px;
}
mat-panel-title{
  width:400px;
}
.icon{
margin-right: 30px;
}
.add{
  margin-bottom: 3px;
  margin-top: 3px;
}
.page{

margin: 3px;
left: 41.5%;
}
