<p *ngIf= "!(auth.getUser()|async)"> you are not logged in </p>
<div>
<button class="add" mat-mini-fab color="primary" (click) = "openAddBook = !openAddBook">
  <mat-icon>add</mat-icon></button>
 <bookform
       [hidden] = "!openAddBook"
       [buttonLable] = "'Create'"
       [Lable] = "'Add book'"
       (update) = "add($event);openAddBook = !openAddBook"
       (closeEdit) = "openAddBook = !openAddBook"
     >
   </bookform>
  </div>
<mat-accordion *ngIf= "(auth.getUser()|async)" >


  <mat-expansion-panel (opened)="panelOpenState = true"
                       (closed)="panelOpenState = false"
                       *ngFor = "let book of books;let i = index">
    <mat-expansion-panel-header>
      <mat-panel-title>
       {{book.title}}
      </mat-panel-title>
      <mat-panel-description>
       {{book.author}}
      </mat-panel-description>
      <mat-icon class="icon"
        color= "primary"
        (click) = "deleteBook(book.id)">delete
      </mat-icon>
    </mat-expansion-panel-header>
    <p>{{book.summary}}</p>
    <button  mat-raised-button color="primary"
    (click) = "editstate[i] = !editstate[i]">
      Edit
    </button>
    <bookform
      [hidden] = "!editstate[i]"
      [buttonLable] = "'Update'"
      [Lable] = "'Update book'"
      [title] = "book.title"
      [author] = "book.author"
      [id] = "book.id"
      (update) = "update($event);editstate[i] = !editstate[i]"
      (closeEdit) = "editstate[i] = !editstate[i]"
    >

    </bookform>
  </mat-expansion-panel>


</mat-accordion>
<div>
  <button class="page" mat-mini-fab color="primary" (click) = "previousPage()">
    <mat-icon  >
      arrow_back
    </mat-icon>
  </button>
  <button class="page"  mat-mini-fab  color="primary"  (click) = "nextPage()">
  <mat-icon >
    arrow_forward
  </mat-icon>
</button>
</div>
