<label id="example-radio-group-label">Pick your favorite News</label>
<mat-radio-group
  aria-labelledby="example-radio-group-label"
  class="example-radio-group"
  [(ngModel)]="favoriteChannel"
  #name="ngModel" required>

  <mat-radio-button class="example-radio-button" *ngFor="let channel of channels" [value]="channel" >
    {{channel}}


  </mat-radio-button>
  <mat-error  *ngIf="!(channels.includes(favoriteChannel)); else elseBlock" >
    Channel Name is required
  </mat-error>
  <ng-template #elseBlock>Your favorite News is: {{favoriteChannel}}</ng-template>
</mat-radio-group>

<mat-form-field style="width: 400px;">
  <mat-label>Text to classify</mat-label>
  <textarea matInput
            [(ngModel)] = "text"
             name="text"
            cdkTextareaAutosize
            #autosize="cdkTextareaAutosize"
            cdkAutosizeMinRows="10"
            cdkAutosizeMaxRows="20"></textarea>
</mat-form-field>
<div>
  <button  mat-raised-button color="primary"
  (click) = "classify()">
  Classify
  </button>
</div>
<div>
  {{category}} <img [src] = "categoryImage">
</div>



