<p *ngIf = "!(weatherData$ | async)&&!hasError">Loading data..</p>

<mat-card class="example-card">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-error *ngIf = "hasError">{{errorMessage}}</mat-error>
      <mat-card-title *ngIf = "!hasError">Tempratures in {{city}}, {{country}} is {{(weatherData$ | async)?.temperatures | number:'1.0-0'}}º</mat-card-title>
      <mat-card-subtitle>
        lat:{{lat}}
        <br>
        lon:{{lon}}
      </mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image [src]="image" alt="Photo of a wheater" *ngIf = "!hasError">
    <mat-card-content>
     <p> {{description}}</p>
      <a routerLink="/city" routerLinkActive="active">Select city</a>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button>LIKE</button>
      <button mat-button>SHARE</button>
    </mat-card-actions>
  </mat-card>
